{% extends "admin/feincms/item_editor.html" %}
{% load i18n %}

{% block object_tools %}{% endblock %}

{% block breadcrumbs %}
        <ul id="breadcrumbs">
                <li><a href="{% url admin:index %}">{% trans "Home" %}</a></li>
                <li><a href="{% url admin:app_list app_label %}">{{app_label|capfirst|escape}}</a></li>
                <li><a href="{{changelist_url}}">{{opts.verbose_name_plural|capfirst}}</a></li>
                <li><a href="{{recoverlist_url}}">{% blocktrans with opts.verbose_name as verbose_name %}Recover deleted {{verbose_name}}{% endblocktrans %}</a></li>
                <li>{{title}}</li>
        </ul>
{% endblock %}


{% block form_top %}
        <p>{% blocktrans %}Press the save button below to recover this version of the object.{% endblocktrans %}</p>
{% endblock %}
