{% extends "admin/feincms/item_editor.html" %}

{% load i18n %}

{% block object_tools %}
{{ block.super }}
<ul class="extra-object-tools">
	{% if original.is_active and FEINCMS_FRONTEND_EDITING %}
	    <li><a target="_blank" href="{{ original.get_absolute_url }}?frontend_editing=1" class="frontend_editing_link">{% trans "Edit on site" %}</a></li>
	{% endif %}
	{% if not original.is_active %}
	    {% url feincms_preview original.get_absolute_url|slice:"1:-1" original.pk as preview_url %}
	    {% if preview_url %}
	        <li><a target="_blank" href="{{ preview_url }}" class="viewsitelink">{% trans "Preview" %}</a></li>
	    {% endif %}
	{% endif %}
</ul>
{% endblock %}

{% block breadcrumbs %}
<ul id="breadcrumbs">
    <li><a href="../../../">{% trans "Home" %}</a></li>
    <li><a href="../">{{ opts.verbose_name_plural|capfirst }}</a></li>

    {% if add %}
        {% trans "Add" %}<li>{{ opts.verbose_name }}</li>
    {% else %}
        {% for p in original.get_ancestors %}
            <li><a href="../{{ p.id }}/">{{ p.short_title }}</a></li>
        {% endfor %}
        <li>{{ original.short_title }}</li>
    {% endif %}
</ul>
{% endblock %}
